{{! for the other projects, links but no details }}
<div class="project">
  <div class="thumb">
    <a href="https://{{project_name}}.glitch.me/"><img src="https://cdn.glitch.com/project-avatar/{{project_id}}.png" /></a>
  </div>
</div>



